.header {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
}

.header_main {
	height: 45px;
	z-index: 100;

	padding: 0 10%;

	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;

	background: khaki;
	font-size: 22pt;
}

.header__logo {
	vertical-align: middle;
	color: #000;
}

.header_main .header__nav {
	display: flex;
	flex-direction: row;

	font-size: 0.5em;
	font-weight: 500;
	line-height: 45px;
}

.header_main .nav__link {
	padding: 0 18px;

	color: inherit;
	text-decoration: none;
}

.header_main .nav__link:last-child {
	padding-right: 0;
}

.header_main .nav__link_active  {
	color: lightcoral;
}
